<% if (path !== '/login' && path !== '/signup' && path !== '/goals' && path !== '/dashboard' && path !== '/chart') { %>
<footer class="fixed bg-body-secondary mt-4 text-dark py-2 py-sm-3">
  <div class="container text-center">
    <p class="mb-2 mb-sm-3">
      &copy; 2025 Track That Goal. All rights reserved.
    </p>
  </div>
</footer>
<% } %>
