<%- layout("boilerplate.ejs") %>

<div
  class="auth-container container-fluid d-flex align-items-center justify-content-center"
>
  <div
    class="auth-form-container col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 mx-auto"
  >
    <h2 class="auth-title text-center mb-4">Sign Up</h2>
    <form action="/signup" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          required
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          required
        />
      </div>
      <div class="mb-4">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary w-100 mb-3">Sign Up</button>
      <p class="text-center mb-3">OR</p>
      <a href="/auth/google" class="btn btn-danger w-100 mb-3"
        >Sign Up with Google</a
      >
      <p class="text-center mb-0">
        Already have an account? <a href="/login" class="auth-link">Login</a>
      </p>
    </form>
  </div>
</div>
